.bingo{
    display: flex;
    align-items: center;
    justify-content: space-around;

}

.box-bingo{
    height:100% ;
    width: 100%;
    border: 2px solid black;
}


.box-players{
    height: 100%;
    width: 100%;
    border: 3px solid black;
    font-size: 3rem;
    
}

.card{
    display: grid;
    grid-template-columns: repeat(5, 100px);
    grid-template-rows: repeat(3, 100px);
    padding: 1rem;
    justify-content: center;
    
    
    //position: relative;
}

.bingo-card{
    display: grid;
    grid-template-columns: repeat(10, 50px);
    grid-template-rows: repeat(10, 30px);
    justify-content: center;

}

.orange{
    background-color: orange;
}

.green{
    background-color: rgb(138, 230, 85);
}


.pink{
    background-color: pink;
}